In [1]:
import pickle
import pandas as pd 
import numpy as np

from sklearn.pipeline import make_pipeline
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures, Normalizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.impute import SimpleImputer

from utils import utils
import matplotlib.pyplot as plt

In [2]:
model = pickle.load(open("bg_reg.pkl", "rb"))
print(model)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer()),
                                                                  ('standardscaler',
                                                                   StandardScaler())]),
                                                  ['Locality',
                                                   'Number of rooms', 'Area',
                                                   'Terrace Area',
                                                   'Garden Area',
                                                   'Surface of the land']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot...
                                                              importance_type='gain',
                                                              interaction_constraints=None,
                                                              learning_rate=None,
                                                              max_delta_step=None,
                                                              max_depth=None,
                                                              min_child_weight=None,
                                                              missing=nan,
                                                              monotone_constraints=None,
                                                              n_estimators=100,
                                                              n_jobs=None,
                                                              num_parallel_tree=None,
                                                              random_state=None,
                                                              reg_alpha=None,
                                                              reg_lambda=None,
                                                              scale_pos_weight=None,
                                                              subsample=None,
                                                              tree_method=None,
                                                              validate_parameters=None,
                                                              verbosity=None)))])

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/SamuelD005/challenge-regression/development/Data8.csv", sep=",")
data.head()

,Unnamed: 0,Locality,Type of property,Price,Number of rooms,Area,Fully equipped kitchen,Furnished,Open fire,Terrace Area,Garden Area,Surface of the land,Number of facades,Swimming pool,State of the building,Province,Region,PriceperMeter
0,0,2970,apartment,764999.0,2.0,153.0,0.0,0.0,0.0,62.0,0.0,215.0,2.0,0.0,medium,Anvers,Flanders,4999.0
1,1,3200,apartment,294999.0,2.0,80.0,0.0,0.0,0.0,0.0,0.0,80.0,2.0,0.0,medium,Brabant Flamand,Flanders,3687.0
2,2,8211,apartment,233999.0,2.0,90.0,0.0,0.0,0.0,0.0,0.0,90.0,2.0,0.0,medium,Flandre Occidental,Flanders,2599.0
3,3,2630,apartment,329899.0,1.0,87.0,0.0,0.0,0.0,28.0,0.0,115.0,2.0,0.0,medium,Anvers,Flanders,3791.0
4,4,2630,apartment,359899.0,1.0,95.0,0.0,0.0,0.0,47.0,0.0,142.0,4.0,0.0,medium,Anvers,Flanders,3788.0

In [4]:
X = data.drop(["Price","Unnamed: 0","PriceperMeter"] , axis = 1)
y = data["Price"]

In [5]:
sample = X.iloc[0,:]
print(sample)

Locality                       2970
Type of property          apartment
Number of rooms                 2.0
Area                          153.0
Fully equipped kitchen          0.0
Furnished                       0.0
Open fire                       0.0
Terrace Area                   62.0
Garden Area                     0.0
Surface of the land           215.0
Number of facades               2.0
Swimming pool                   0.0
State of the building        medium
Province                     Anvers
Region                     Flanders
Name: 0, dtype: object

In [16]:
test = X.iloc[157:158,:]
test.head()

,Locality,Type of property,Number of rooms,Area,Fully equipped kitchen,Furnished,Open fire,Terrace Area,Garden Area,Surface of the land,Number of facades,Swimming pool,State of the building,Province,Region
157,1070,apartment,2.0,91.0,0.0,0.0,0.0,5.0,0.0,96.0,2.0,0.0,good,Brussel,Brussel

In [7]:
result = model.predict(X)

In [8]:
compare = pd.DataFrame({"pred_results":result, "true_results": y })
compare["difference"] = compare["true_results"] - compare["pred_results"]
compare.head()

    pred_results  true_results     difference
0  599163.437500      764999.0  165835.562500
1  231055.625000      294999.0   63943.375000
2  282474.406250      233999.0  -48475.406250
3  253219.203125      329899.0   76679.796875
4  316805.437500      359899.0   43093.562500

In [18]:
test.head()

,Locality,Type of property,Number of rooms,Area,Fully equipped kitchen,Furnished,Open fire,Terrace Area,Garden Area,Surface of the land,Number of facades,Swimming pool,State of the building,Province,Region
157,1070,apartment,2.0,91.0,0.0,0.0,0.0,5.0,0.0,96.0,2.0,0.0,good,Brussel,Brussel

In [9]:
columns = X.columns

In [10]:
df_streamlit = pd.DataFrame(columns = columns)

In [11]:
df_streamlit.head()

Empty DataFrame
Columns: [Locality, Type of property, Number of rooms, Area, Fully equipped kitchen, Furnished, Open fire, Terrace Area, Garden Area, Surface of the land, Number of facades, Swimming pool, State of the building, Province, Region]
Index: []

('Brussel', 'Brussel', 1, 1)